* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border:none;
    list-style-type: none;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Your code here */
nav {
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 136, 136);

   

}
ul{
    display: flex;
    padding: 10px;
    gap: 10px;
    
    
}


